@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
    .BS-filter a{
        margin-right: 0px;
        margin-left: 0px;
    }
}

@font-face {
	font-family: Brandon;
	src: url(../fonts/Brandon-Grotesque/Brandon_reg.otf);
}

* {
	font-size: 100%;
	font-family: Brandon;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #ffffff;
}
.navbar-brand-centered > a{
    text-decoration: none;
    color:#ffffff;
    font-family: BreeSerif bold;
    font-size: 40px;
}
.navbar-default .navbar-nav > li > a{
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.login-btn {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    border-radius: 18px;
    background-color: #ffffff;
    margin-top: 10px;
}

.navbar{
    background-color: #00ccff;
    box-shadow: 0px 3px 18px 0 rgba(0, 0, 0, 0.13);
    border: 0;
    border-radius: 0;
    color: white;
    font-size: 20px;
    font-weight: 550;
    font-family: 'Open Sans', sans-serif;
}
.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-brand-soal {
    transform: translateX(-50%);
    left: 5%;
    position: absolute;
}
/* DEMO example styles for logo image */
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 7px 14px;
}
.navbar-brand-soal {
    padding: 0px;
}
.navbar-brand-soal>img {
    height: 10%;
    width: auto;
    padding: 7px 14px;
}

.panel-default > .panel-heading{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}
.panel-default{
    margin-top: 5px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 18px 0 rgba(0, 0, 0, 0.13);
}
.panel-default > .panel-banksoal{
    background-color: #f26522;
    border-color: #f26522;
    box-shadow: 0px 3px 18px 0 rgba(0, 0, 0, 0.13);
}
.panel-default > .panel-kisikisi{
    background-color: #fff568;
    border-color: #fff568;
    box-shadow: 0px 3px 18px 0 rgba(0, 0, 0, 0.13);
}
.panel-heading h3{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #000000;
}
.panel-top{
    background-image: linear-gradient(to top, #f2af8f, #fea176);
    background-image: url("Box Orange KuiziCard.png");
    background-color: #cccccc;
}

.judulsoal-bs{
    width: 100%;
}
.judulsoal-bs img{
    width: 44px;
    height: 44px;
    float: left;
    margin: 0 10px 0 10px;
}
.judulsoal-bs table{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #939393;
}
.soal-bs{
    margin: 0 40px;
    font-family: Arial;
    font-size: 18px;
    text-align: left;
    color: #333333;
    padding: 15px 0;
}
.soalpilihan-bs table{
    margin-left: 20px;
    margin-bottom: 50px;
}
.button-bs table {
    margin-left: 20px;
    width: 90%;
}
.button-bs td input{
    margin: 0 5px;
    width: 92px;
    height: 30px;
    border-radius: 15px;
    background-color: #dadada;
    border: 0 ;
    float: right;
}
.progress {
    height: 6px;
    margin: 50px;
    overflow: hidden;
    background-color: #a7a7a7;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar-info {
    background-color: #f26522;
}


.pilihankisi-kisi p{
    font-size: 13px;
    margin: 0;
}


.panel-penilaian{
    padding: 15px 15px 0 15px;
}
.penilaian-bs td input{
    width: 92px;
    height: 30px;
    border-radius: 15px;
    background-color: #dadada;
    border: 0 ;
    text-align: center;
    margin: 0 0 20px 0;
}
.penilaian-bs{
    text-align: center;
    margin: 0 30px;
}
.akhir-bs{
    margin: 0 40px;
}


.sortir-bs a{
    text-decoration: none;
    color: #464646;
    font-family: Arial;
}
.btn-search-banksoal {
    color: #000;
    background-color: #f2af8f;
    border-color: #c69c6d;
    border-radius: 8px;
}
.sortir-bs p{
    margin: 0 0 1px;
}
.mapel-bs{
    text-align: right;
    margin-bottom: -5px;
}
.mapel-bs a{
    text-decoration: none; 
    color: #464646; 
    margin: 10px 6.1% 25px 0;
    line-height: 3px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.mapel-bs a:hover{
    text-decoration: none; 
    color: #f26522;
}
.mapel-bs span a{
    margin: 10px 0 25px 0;
}

.sortir-bs{
    font-size: 12px;
    color: #464646;
    font-family: Arial;
    text-align: right;
}
.top-sortir td a{
    margin: 0 5px 0 8px;
}
.top-sortir td{
    margin: 0 10px 0 8px;
}
.bottom-sortir td a{
    margin: 0 5px 0 0px;
}
.bottom-sortir td{
    padding: 0 0 0 8px;
}
.form-group{
    margin-bottom: 0;
    width: 100%;
}
.urutan-bs input{
    margin: 8px 0 8px 8px;
    color: #464646;
}

.box-bs{
    margin: 0;
    padding: 0;
}
.box-bs > li {
    width: 25%;
    float: left;
    padding: 10px;
    text-align: center;
    list-style: none;
}
.box-bs > li img {
    border-radius: 5%;
    max-width: 100%;
    height: auto;
}
.box-bs > li > a:hover,
.box-bs > li > a:hover .box-bs-name,
.box-bs > li > a:hover .box-bs-source {
    color: #999;
}
.box-bs-name,
.box-bs-source {
    display: inline-block;
}
.box-bs-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #464646; 
}
.box-bs-source {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #888888; 
}
.box-bs-info { 
    text-align: center;
    background-color: #999 transparent;
    height: 5px;
    font-family: Arial;
}
#search{
    margin-top:15px; /* Don't copy this */
    width: 70%;
    height: 18px;
    margin-bottom: 10px;
    margin-left:70px;
    margin-right: 0;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.top-kisi-kisi{
    padding-top: 30px;
    padding-bottom: 10px;
}
.bottom-kisi-kisi{
    margin: 50px;
    text-align: center;
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #b8b8b8;
}

.scroll{
    width: 100%;
    overflow-y: scroll;
    height: 650px;
}

.column {
    float: left;
    padding: 5px;
}

/* Left and right column */
.column.side {
    width: 20%;
}

.tabelmenu{
    height:632px;
    position: fixed;
    background: #fffaf9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #fffaf9, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom , #fffaf9, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom , #fffaf9, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom , #fffaf9, yellow); /* Standard syntax */
    padding: 0px;
}
/* Middle column */
.column.middle {
    width: 80%;    
}

.container-home {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.body-luar {
    background-color: #cdccff;
}

.panel-body {
    padding: 10px;
}
.form-group {
	position: relative;
	margin-top: 35px;
	margin-bottom: 20px;
}

.input-group {
	position: relative;
}

.form-control {
	display: block;
	height: 36px;
	width: 100%;
	border: none;
	border-radius: 0 !important;

	font-size: 16px;
	font-weight: 300;
	padding: 0;
	background-color: transparent;
	box-shadow: none;
	border-bottom: 1px solid #757575;
}

.input-group .form-control {
	position: relative;
	z-index: inherit;
	float: inherit;
	width: 100%;
	margin-bottom: 0;
}

.form-control:focus {
	border-color: #757575;
	outline: none;
	box-shadow: none;
}

/* -- label styles ---------------------------------- */
label {
	position: absolute;
	top: -18px;
	color: #999;
	font-size: 12px;
	font-weight: 300;

	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.form-horizontal .control-label {
	position: relative;
	top: 0;
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.form-horizontal .control-label {
		font-size: 16px;
	}
}

.float-label {
	left: 15px;
	top: 7px;
	font-size: 18px;
	pointer-events: none;
}

/* active state */
.form-control:focus~.float-label,
.form-control:valid~.float-label {
	top: -18px;
	font-size: 16px;
}


/* input colors ---- */
/* .form-control:focus {
	~label {
		color: #03a9f4;
	}

	~.form-bar:before,
	~.form-bar:after {
		background: #03a9f4;
	}
} */


.form-control:valid~.control-label {}

/* help-block */
.form-group .help-block {
	position: absolute;
}

.help-block {
	color: #bdbdbd;
	font-size: 12px;
	font-weight: 300;
}

/* input addon ---*/
.input-group-addon {
	border: none;
	background: transparent;
}

/* ------  inline ----*/
.input-group-addon,
.form-inline .input-group {
	display: table-cell;
}

.input-group-addon,
.input-group-btn {
	width: inherit;
}

.input-group {
	width: 100%;
}

@media (min-width: 768px) {
	.form-inline .form-group {
		margin-top: 16px;
	}

	.input-group-btn,
	.input-group .form-control,
	.input-group-addon,
	.form-inline .input-group {
		display: inline-block;
	}

	.input-group {
		width: auto;
	}
}

/* -- bar styles -------------------------------------- */
.form-bar {
	position: relative;
	display: block;
	width: 100%;
}

.form-bar:before,
.form-bar:after {
	content: '';
	height: 1px;
	width: 0;
	bottom: 0;
	position: absolute;
	transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-webkit-transition: 0.3s ease all;
}

.form-bar:before {
	left: 50%;
}

.form-bar:after {
	right: 50%;
}

/* active state */
.form-control:focus~.form-bar:before,
.form-control:focus~.form-bar:after {
	width: 50%;
}

/* -- highlighter styles ------------------------------ */
.form-highlight {
	position: absolute;
	height: 60%;
	width: 60px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.4;
}

/* active state */
.form-control:focus~.form-highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

/* -- highlighter animation --------------------------- */
@-webkit-keyframes inputHighlighter {
	from {
		background: #5264AE;
	}

	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes inputHighlighter {
	from {
		background: #5264AE;
	}

	to {
		width: 0;
		background: transparent;
	}
}

@keyframes inputHighlighter {
	from {
		background: #5264AE;
	}

	to {
		width: 0;
		background: transparent;
	}
}


/*-- Checkbox --------------------------- */
/* fork from https://codepen.io/jasonmayes/pen/wxtFr */
/* 
 * Core styles required for the checkboxes.
 * @author Jason Mayes 2014, www.jasonmayes.com
*/
.form-group.checkbox {
	margin-top: 20px;
}

.checkbox input[type='checkbox'] {
	height: 0;
	width: 0;
	opacity: 0;
}

.checkbox label {
	font-size: 14px;
	font-weight: 300;
	line-height: 1;
	display: inline-block;
	overflow: hidden;
	position: relative;
	top: 10px;
	padding-left: 0;
}

.checkbox .chk-span {
	top: 0;
	border: 1px solid #5a5a5a;
	color: #1d1d1d;
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 14px;
	margin: 0 14px 14px 1px;
	outline-color: #eaeaea;
	padding: 0;
	position: relative;
	width: 14px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	z-index: 1;
}

.checkbox .chk-span.checked {
	top: -2px;
	border-left: 2px solid #03a9f4;
	border-bottom: 4px solid #03a9f4;
	border-top: 1px solid rgba(0, 0, 0, 0);
	border-right: 1px solid rgba(0, 0, 0, 0);
	-webkit-transform: rotate(-45deg) scaleY(0.5);
	-moz-transform: rotate(-45deg) scaleY(0.5);
	-ms-transform: rotate(-45deg) scaleY(0.5);
	-o-transform: rotate(-45deg) scaleY(0.5);
	transform: rotate(-45deg) scaleY(0.5);
}

.checkbox .chk-span.checked {
	border-left-color: #03a9f4;
	border-bottom-color: #03a9f4;
}

/* // focus state
.checkbox input[type='checkbox']:focus~label {

	color: #03a9f4;

	.chk-span {
		border-color: #03a9f4;

		&.checked {
			border-left-color: #03a9f4;
			border-bottom-color: #03a9f4;
			border-top: 1px solid rgba(0, 0, 0, 0);
			border-right: 1px solid rgba(0, 0, 0, 0);
		}
	}
} */

.form-control-static {
	font-size: 16px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: transparent;
	border-bottom-style: dashed;
}
#focusedInput {
	border-color: #ccc;
	border-color: rgba(82, 168, 236, .8);
	outline: 0;
	box-shadow: none;
}

.pull-right>.dropdown-menu {
    right: 35px;
}

.dropdown-menu {
    min-width: 200px;
    margin: -30px 0 0;
}

.panel-default {
    background-color: #f2f3ff;
}

.pilih-rapor{
    border-radius: 10px;
    width: 150px;
    height: 35px;
    background-color: rgba(153, 128, 250,0.5);
    border-color: transparent;
}
.pilih-rapor > option{
    background-color: rgba(153, 128, 250,0.5);
    border-color: transparent;
}

.table-rapor-guru > thead > tr > th{
    background-color:#fed330;
}
.menu-guru-kelas{
    background-color:rgba(243, 156, 18,1.0);
    border-radius: 20px;
    height: 150px;
    width: 150px
}
.menu-guru-rapor{
    background-color:rgba(52, 152, 219,1.0);
    border-radius: 20px;
    height: 150px;
    width: 150px
}
.menu-guru-label{
    color: white;
    font-size: 40px;
    line-height: 3.5;
    text-decoration: none !important;
}
.list-kelas-box{
    background-color: rgba(153, 128, 250,0.5);
    height: 40px;
    border-radius: 12px;
}
.list-kelas{
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
    color: white;
    font-weight: 100;
    margin: 5px;
    line-height: 40px;
}
.list-kelas-nama{
    float: left;
    font-size: 20px;
    line-height: 40px;
    color: #9b59b6;
}
.jenis-ujian{
    background-color: rgba(220, 221, 225,1.0);
    height: 50px;
    margin-bottom: 10px;
    border-radius: 15px;
    color: rgba(142, 68, 173,1.0);
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}
.nama-mapel{
    background-color: rgba(220, 221, 225,1.0);
    height: 50px;
    border-radius: 15px;
    color: rgba(142, 68, 173,1.0);
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    margin:5px;
}
.kode-guru-uji-level{
    margin-top: 5px;
    font-weight: 900;
    font-size: 50px;
}

.table-peserta-level-kelas > thead > tr > th{
    background-color:#f2f3ff;
    border-width: 4px !important;
    text-align: center;
    border-color: #f2f3ff;
}
.table-bordered.table-peserta-level-kelas > tbody {
    background-color:rgba(83, 82, 237,0.3);
}
.table-bordered.table-peserta-level-kelas > tbody > tr > td {
    border-color: none;
    border-width: 4px !important;
    border-color: #f2f3ff;
}
.table>thead:first-child>tr:first-child>th{
    border-top: none;
}
.btn-mulai-uji-level{
    color: white;
    font-weight: 900px;
    font-size:20px;
    border-radius:25px;
    background-color: rgba(238, 90, 36,1.0);
}
.countdown-uji-level{
    font-size:50px;
    color: white;
    font-weight: 900;
}
.btn-stop-uji-level{
    color: white;
    font-weight: 900px;
    font-size:15px;
    border-radius:25px;
    background-color: rgba(27, 20, 100,1.0);
}
.btn-selesai-uji-level{
    color: white;
    font-weight: 900px;
    font-size:20px;
    border-radius:25px;
    background-color: rgba(238, 90, 36,1.0);
}
.btn-force-selesai-uji-level{
    color: white;
    font-weight: 900px;
    font-size:20px;
    border-radius:25px;
    background-color: black;
}
@media (min-width:960px) { 
    .list-mapel-uji{
        margin-left: 25px;
    }
}

.table-hasil-uji-guru > tbody > tr > td {
    border-color: rgba(190, 46, 221,1.0);
    border-width: 2px !important;
    font-weight: 900;
}

.table-hasil-uji-guru > thead > tr > th{
    border-color: rgba(199, 236, 238,1.0);
    border-width: none;
    font-weight: 0;
}
