<span style='color: #000'>26 frames</span>	<span style='color: #900'>8,704 KB</span>	<span style='color: #090'>93.60 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />